<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <img mat-card-image src="{{data.avatar_url}}" alt="user details">
        </div>
        <mat-card-title>{{data.name}}</mat-card-title>
        <mat-card-subtitle>
            <p>
                Email - {{data.email}}
                <a href="{{data.html_url}}">Github Link</a>
                <a href="{{data.blog}}">Blog Link</a>
                Company - {{data.company}}
                Location - {{data.location}}
                Created At - {{data.created_at}}
            </p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{data.bio}}
        </p>
        <mat-grid-list cols="4">
            <mat-grid-tile>Type: {{data.type}}</mat-grid-tile>
            <mat-grid-tile>Followers<a href="{{data.followers_url}}">{{data.followers}}</a></mat-grid-tile>
            <mat-grid-tile>Following<a href="{{data.following_url}}">{{data.following}}</a></mat-grid-tile>
            <mat-grid-tile>Public Repos<a href="{{data.repos_url}}">{{data.public_repos}}</a></mat-grid-tile>
            <mat-grid-tile>Twitter username - {{data.twitter_username}}</mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="closeDialog()">Close</button>
    </mat-card-actions>
</mat-card>