.search-form {
  min-width: 150px;
  margin: 0 20px;
}

.example-full-width {
  width: 100%;
}

.search-card-image img{
  width: 60px;
  margin: 0;
}

table {
  width: 100%;
}

.user-table img {
  width: 60px;
  margin: 0;
}